.hero {
  height: 100vh;
}

.img-swipe {
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
}

.button-read {
  transition: all 0.3s ease-in-out;
  box-shadow: none;
}
.button-read:hover {
  box-shadow: -5px 10px 15px #c1cffa;
}

.button-view {
  transition: all 0.3s ease-in-out;
  box-shadow: none;
}
.button-view:hover {
  box-shadow: 0 0 30px #c1cffa;
}

@media (min-width: 800px) and (max-width: 1100px) {
  .hero {
    height: 60vh;
  }
}

@media (min-width: 560px) and (max-width: 799px) {
  .hero {
    height: 50vh;
  }
}
